{#
 # JVN Vulnerability Infomation Managed System
 #
 # hidekuno@gmail.com
 #
 #}

{% include 'template/jvn_header.j2' %}
    <div class="container-fluid">
      <div class="row">
        <div class="main">
          <h1 class="page-header">{{ app.cveid }}</h1>
          <br>
          <center>
            <div class="table-responsive">
              <form id="listForm" method="post">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>JVN番号</th>
                    <th>タイトル</th>
                    <th>更新日</th>
                    <th>IPA公表日</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in app.result %}
                  <tr>
                    <td><a target="_blank" rel="noopener noreferrer" href="{{ item[2] }}">{{ item[0] }}</a></td>
                    <td>{{ item[1] }}</td>
                    <td>{{ item[3] }}</td>
                    <td>{{ item[4] }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <input type="hidden" name="identifier" id="identifier" value="" />
              </form>
            </div>
          </center>
        </div>
      </div>
    </div>
{% include 'template/jvn_footer.j2' %}
