{#
 # JVN Vulnerability Infomation Managed System
 #
 # hidekuno@gmail.com
 #
 #}
    {% if app.error_message != '' %}
        <center><h4 style="color:red">{{ app.error_message }}</h4></center>
    {% endif %}
    <center>
    <div class="footer">
      <p>&copy; Kuno Shoten,Inc.All Rights Reserved.</p>
    </div>
    </center>
    <script src="/jvn/dist/js/jquery.datetimepicker.js"></script>
    <script src="/jvn/jvn.js"></script>
  </body>
</html>
