{#
 # JVN Vulnerability Infomation Managed System
 #
 # hidekuno@gmail.com
 #
 #}

    <center>
    <div class="footer">
      <p>&copy; Kuno Shoten,Inc.All Rights Reserved.</p>
    </div>
    </center>
    <script src="/jvn/dist/js/jquery.datetimepicker.js"></script>
    <script src="/jvn/jvn.js"></script>
  </body>
</html>
