{#
 # JVN Vulnerability Infomation Managed System
 #
 # hidekuno@gmail.com
 #
 #}
{% include 'template/jvn_header.j2' %}
    <div class="container-fluid">
      <h1 class="page-header">{{ app.title_name }}</h1>
    </div>
    <center>
    <img src = {{ app.image_url }} />
    </center>
{% include 'template/jvn_footer.j2' %}
