{#
 # JVN Vulnerability Infomation Managed System
 #
 # hidekuno@gmail.com
 #
 #}
{% include 'template/jvn_header.html' %}
    <div class="container-fluid">
      <div class="row">
        <div class="main">
          <h1 class="page-header">JVN 脆弱性情報一覧</h1>

          <form method="post" class="form-inline" role="form" action="{{app.topuri}}/jvn_list/search" autocomplete="off">
            <div class="form-group">
            <input type="text" id="keyword_txt" name="keyword"  value="{{app.ui.keyword}}" style="width: 400px;" class="form-control"  placeholder="キーワード...">
            <input type="text" value="{{ app.ui.dp_from }}" class="span2 form-control" placeholder="更新日付:(From)" name="dp_from" id="dp_from">
            </div>
            ～
            <input type="text" value="{{ app.ui.dp_to }}" class="span2 form-control" placeholder="更新日付:(To)" name="dp_to" id="dp_to">
            <button class="btn btn-sm btn-primary" id="vul_search_btn" type="submit">
              <span class="glyphicon glyphicon-search"></span>検索</button>
          </form>
          <br>

          <div class="table-responsive">
            <form id="listForm" method="post">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>JVN番号</th>
                  <th>タイトル</th>
                  <th>更新日</th>
                  <th>IPA公表日</th>
                  <th>　</th>
                </tr>
              </thead>
              <tbody>
                {% for item in app.result %}
                <tr>
                  <td><a href="{{ item[2] }}">{{ item[0] }}</a></td>
                  <td>{{ item[1] }}</td>
                  <td>{{ item[3] }}</td>
                  <td>{{ item[4] }}</td>
                  <td>
                  {% if item[5] ==   4 %}
                      <span class="glyphicon glyphicon-send"></span>
                  {% elif item[5] == 3 %}
                      <span class="glyphicon glyphicon-check"></span>
                  {% elif item[5] == 2 %}
                      <button class="btn btn-sm btn-primary jvn_list_product_button jvn_list_img_button" id="{{item[0]}}">
                        <span class="glyphicon glyphicon-wrench"></span></button>
                  {% elif item[5] == 1 %}
                      <button class="btn btn-sm btn-primary jvn_list_ticket_button jvn_list_img_button" id="{{item[0]}}">
                        <span class="glyphicon glyphicon-envelope"></span></button>
                  {% endif %}
                  </td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
            <input type="hidden" name="identifier" id="identifier" value="" />
            </form>
{% include 'template/jvn_pager.html' %}
          </div>
        </div>
      </div>
    </div>
    {% if app.error_message != '' %}
        <center><h4 style="color:red">{{ app.error_message }}</h4></center>
    {% endif %}
{% include 'template/jvn_footer.html' %}
